@charset "UTF-8";

@media screen and (min-width: 500px) and (max-width: 992px) {
    menu > span#burguer {
        display: block;
    }

    menu#itens {
        display: list-item;
        list-style-type: none;
        list-style-position:inside;
    }

    menu#itens > div.menu > a {
        display: inline-flexbox;
    }
}