@charset "UTF-8";

@media screen and (min-width: 500px) and (max-width: 992px) {
    header > nav > menu {
        width: 20vw;
        justify-content: space-around;
        align-items: center;
    }

    menu > span#burguer {
        display: block;
        cursor: pointer;
    }

    menu#itens > div {
        display: inline-flex;
        flex: 1 0 auto;
    }

    menu#itens > div.menu > a {
        text-decoration: none;
        text-align: center;
        color: black;
        background-color: rgba(125, 45, 109, 0.629);
        
    }

    main {

    }

    section > article.sobre > div {

    }

    section.galeria > div {

    }

    footer {

    }

    footer > div.contatos, div.formulario {

    }
}