@charset "UTF-8";

/* configuração geral */

* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

body {
    overflow-x: hidden;
}

/* configuração dos links */
nav a {
    color: #ffffff;
    text-decoration: none;
    transition: 0.3s;
}

nav a:hover {
    opacity: 0.7;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}


/* configuração header */

header {
    background: url("../imagens/bg.jpg") no-repeat center center;
    background-size: cover;
    height: 92vh;
}


/* configuração nav menu principal */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #23232e;
    height: 8vh;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 30px;
    height: 4px;
    background: #fff;
    margin: 6px;
    transition: 0.3s;
}


/* configuração menu responsivo */

@media (max-width: 999px) {
    body {
        overflow-x: hidden;
    }

    .nav-list {
        position: absolute;
        top: 8vh;
        left: 0;
        width: 100vw;
        height: 30vh;
        background: #23232e;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-list li {
        margin-left: 10;
        opacity: 0; /* será utilizado na animação dos links no script JS */
    }

    .nav-list a {
        font-size: large;
    }

    .mobile-menu {
        display: block;
    }

    /* configuração responsiva das demais páginas */

    main {
        font-size: small;
    }
    
    .galeria {
        display: flex;
        flex-flow: column wrap;
        /* configurar exibição no JS para mostrar uma imagem */
    }

    
}

.nav-list.active {
    transform: translateX(0);  /* movimento da barra do menu */
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
    /* animação do menu; ver script JS */
}

/* botão FECHAR do menu responsivo */

.mobile-menu.active .linha1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .linha2 {
    opacity: 0;
}

.mobile-menu.active .linha3 {
    transform: rotate(45deg) translate(-6px, -7px);
}

/* configuração main */

main {
    margin: 0;
    padding: 10px 0px;
    text-align: center;
    background-color: #10110B;
    color: #fff;
}

section {
    margin: 25px 0px;
    padding: 15px 0px;
}

.sobre {
    display: inline-flex;
}

.sobre div {
    align-items: center;
    padding: 0px 10px;
}

.galeria {
    display: flex;
}

.galeria div {
    border: 1px solid #10110B;
    background-color: #AB715D;

    width: 100vw;
    height: 60vh;
    margin: 15px 0px;
    align-content: center;
    font-weight: bolder;
    font-size: xx-large;
}

.depoimentos {
    margin: 25px 0px;
    padding: 0px 15px;
    align-content: center;
    align-items: center;
}

footer {
    background: #10110B;
    color: #fff;
    padding-bottom: 20px;
}

footer div {
    width: 100vw;
    display: inline-flex;
}

.contatos {
    width: 48vw;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.contatos h1 {
    margin: 5px 0px 10px 10px;
    width: 35vw;
}

.contatos p {
    width: 35vw;
    margin-left: 10px;
}

.formulario {
    width: 50vw;
    margin: -1px 0px 0px 0px;
}

form div {
    display: inline-flex;
    flex-direction: row;
    width: 49vw;
    margin: 0px 0px 0px 0px;
}

.dados div {
    display: flex;
    flex-direction: column;
}

.dados div p {
    flex-direction: column;
    width: 15.5vw;
}

.dados .col1 p {
    padding: 6px;
    margin: 0;
}

.dados .col2 p {
    padding: 6px;
    margin: 0;
}

.col1 p input {
    width: 15vw;
    height: 4vh;
    padding-left: 5px;
    background-color: #242422;
    color: #fff;
    border: none;
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.col2 p input {
    width: 15vw;
    height: 4vh;
    padding-left: 5px;
    background-color: #242422;
    color: #fff;
    border: none;
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input::placeholder {
    color: rgb(134, 133, 133);
    font-size: 15px;
}

.dados .msg p {
    display: flex;
    margin: 0;
    padding: 0;
    margin-block-end: 0;
}

.msg p textarea {
    white-space-collapse: discard;
    width: 14vw;
    height: 10vh;
    margin: 2px;
    background-color: #242422;
    color: #fff;
    margin-block-end: 0;
}

textarea {
    resize: none;
    padding-left: 8px;
    font-size: 15px;
    border: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

textarea:active {
    border-radius: 1px solid white;
    box-shadow: 1px solid rgb(71, 69, 69);
}

textarea::placeholder {
    color: rgb(134, 133, 133);
    font-size: 15px;
}

.enviar {
    display: flex;
    justify-content: flex-end;
    width: 46vw;
    margin: 0;
    padding: 5px 0px;
}

.enviar input {
    border: 1px solid #fff;
    background:#242422;
    cursor: pointer;
    width: 9vw;
    height: 5vh;
    color: #fff;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.enviar input:hover {
    border: none;
    background: #AB715D;
}