@charset "UTF-8";

/* configuração geral */

* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background: #10110B;
    color: #fff;
    overflow-x: hidden;
}


/* configuração dos links */

nav a {
    color: #ffffff;
    text-decoration: none;
    transition: 0.3s;
}

nav a:hover {
    opacity: 0.7;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}


/* configuração header */

header {
    background: url("../imagens/bg.jpg") no-repeat center center;
    background-size: cover;
    height: 92vh;
}


/* configuração nav e links do menu */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #23232e;
    height: 8vh;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.nav-list.active {
    transform: translateX(0);  /* movimento da barra do menu */
}


/* ícone hambúrguer do menu responsivo */

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 30px;
    height: 4px;
    background: #fff;
    margin: 6px;
    transition: 0.3s;
}


/* botão FECHAR do menu responsivo */

.mobile-menu.active .linha1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .linha2 {
    opacity: 0;
}

.mobile-menu.active .linha3 {
    transform: rotate(45deg) translate(-6px, -7px);
}


/* configuração main */

main {
    margin: 0;
    padding: 10px 0px;
    text-align: center;
}

section {
    margin: 25px 0px;
    padding: 15px 0px;
}

.sobre {
    display: inline-flex;
}

.sobre div {
    align-items: center;
    padding: 0px 10px;
}

.galeria {
    display: flex;
}

.galeria div {
    border: 1px solid #10110B;
    background-color: #AB715D;

    width: 100vw;
    height: 60vh;
    margin: 15px 0px;
    align-content: center;
    font-weight: bolder;
    font-size: xx-large;
}

.depoimentos {
    margin: 25px 0px;
    padding: 0px 15px;
    align-content: center;
    align-items: center;
}


/* configuração footer */

footer {
    padding-bottom: 20px;
}

footer div {
    display: inline-flex;
    padding-bottom: 25px;
}

.contatos {
    flex-direction: column;
    width: 43vw;
    align-items: center;
    font-size: 20px;
}

.contatos h1, p {
    margin: 0px 0px 10px 10px;
    padding-top: 5px;
}

.formulario {
    margin: 0;
    padding: 0;
    margin-block: 0;
    padding-block: 0;
    width: 55vw;
    justify-content: end;
}

form div {
    display: flex;
    flex-direction: column;
    margin-block: 0;
    padding-block: 0;
    padding-top: 14.5px;
}

.dados p {
    padding: 0;
    margin-right: 15px;
}

.dados p input {
    width: 46vw;
    height: 4.5vh;
    font-size: 17px;
    margin: 3px 0px;
    padding-left: 5px;
    background-color: #242422;
    color: #fff;
    border: none;
    font-size: 15px;
}

input::placeholder {
    color: rgb(134, 133, 133);
    font-size: 17px;
}

.msg textarea {
    width: 45.8vw;
    height: 10vh;
    background-color: #242422;
    color: #fff;
    margin-block: 0;
    padding-block: 0;
}

textarea {
    resize: none;
    padding-left: 8px;
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: none;
}

textarea::placeholder {
    color: rgb(134, 133, 133);
}

.enviar {
    display: flex;
    justify-content: end;
    padding: 2px 0px;
    margin-right: 15px;
}

.enviar input {
    border: 1px solid #fff;
    background:#242422;
    cursor: pointer;
    width: 9vw;
    height: 5vh;
    color: #fff;
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.enviar input:hover {
    border: none;
    background: #AB715D;
}


/* CONFIGURAÇÃO RESPONSIVA */

@media (max-width: 999px) {
    body {
        overflow-x: hidden;
    }


    /* configuração menu */

    .nav-list {
        position: absolute;
        top: 8vh;
        left: 0;
        width: 100vw;
        height: 35vh;
        background: #23232e;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-list li {
        margin-left: 10;
        margin-bottom: 10px;
        opacity: 0; /* será utilizado na animação dos links no script JS */
    }

    .nav-list a {
        font-size: large;
    }

    .mobile-menu {
        display: block;
    }

    /* configuração responsiva das demais páginas */

    main {
        font-size: small;
    }
    
    .galeria {
        display: flex;
        flex-flow: column wrap;
        /* configurar exibição no JS para mostrar uma imagem */
    }


    /* configuração footer */

    footer {
        padding-bottom: 25px;
    }

    footer div {
        display: flex;
        flex-direction: column;
        width: 100vw;
    }

    .contatos {
        padding-bottom: 25px;
        font-size: 1em;
    }

    .contatos h1, p {
        margin: 10px 0px 0px 10px;
        padding-bottom: 10px;
    }

    form div {
        display: flex;
        flex-direction: column;
        padding-bottom: 7px;
        width: 100vw;
    }

    .dados p {
        margin-left: 14px;
    }

    .dados p input {
        width: 92vw;
        height: 4.5vh;
        font-size: 17px;
        margin: 3px 0px;
    }

    .msg textarea {
        width: 92vw;
        height: 12vh;
        font-size: 17px;
        margin: 3px 0px;
        padding-bottom: 10px;
        margin-block: 0;
        padding-block: 0;
    }

    .enviar {
        display: inline-flex;
        justify-self: center;
        margin-left: 14.5px;
    }

    .enviar input {
        width: 93vw;
        height: 5.5vh;
        font-size: 17px;
    }
}


/* animação dos links do menu */

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
    
}